<div>
    <h4>Admin Login Form</h4>
    
      
    <div class="form-outline mb-4">
      <input type="email" class="form-control form-control-lg" [(ngModel)]="email" placeholder="Email" required />
      <label for="email" class="form-label">Email</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" class="form-control form-control-lg" [(ngModel)]="password" placeholder="Password" required />
      <label for="password" class="form-label">Password</label>
    </div>
  </div>
  